<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88097674888-383m2r3nj8kht68im2qgujgkm53hlmsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88097674888-383m2r3nj8kht68im2qgujgkm53hlmsq</string>
	<key>API_KEY</key>
	<string>AIzaSyCQLxGoocSpzDaCjEZeIpUyPv_uG5yZXsA</string>
	<key>GCM_SENDER_ID</key>
	<string>88097674888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jamtalkie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jamtalkie---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>jamtalkie---dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88097674888:ios:30bb324a8985bc4249b13d</string>
</dict>
</plist>